.Home {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  
}
.ProductList{
  text-align: center;
  display: flex;
  align-content: center ;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.ProductClass{
  width: 120px;
  height: 120px;
  margin:20%;
}
.About h1{
  text-align: center;
}
.About img{
  width: 120px;
  height: 120px;
  display:block;
  margin:auto;
}

.ProductDetail img{
  width: 100px;
  height: 100px;
  display:block;
  margin:auto;
}