body{
  margin: 0;
}
.header{
  background: #333;
  color:white;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header a{
  color: white;
  text-decoration: none;
}
.containerHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  padding: 1rem;
  letter-spacing: 5px;
  font-size: 1.3em;
}
.navbar ul{
  list-style: none;
  text-align:right;
}

.navbar ul li{
  display: inline-block;
}
.navbar ul li a{
  display: block;
  padding: 0.5rem 1rem;
}
.navbar ul li a:hover{
  background: grey;
}
.Home {
  text-align: center;  
}

.ProductClassCard{
  border: 1px solid #7c7c7c;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  align-content: center ;
  align-items: center;
  display: grid;
  flex-flow: row wrap;
  justify-content: space-around;
  word-break:break-all;
  width: 25%;
  height: 350px;
}

.ProductClassCard a{
  text-decoration: none;
  color: black;
}



.ProductList{
  text-align: center;
  display: flex;
  align-content: center ;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.ProductClassCard:hover{
  box-shadow: 0 5px 5px 0 #E0E0E0;
}

.ProductClassImg{
  width: 120px;
  height: 120px;
  margin:20%;
}

.ClassHead{
  text-align: center;

}
.About img{
  width: 120px;
  height: 120px;
  display:block;
  margin:auto;
}

.ProductDetail{
  margin-top: 5%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.ProductDetail img{
  width: 250px;
  height: 250px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%; 
}
.ProductDetail p{
  margin-right: 20%;
}
.ProductClassCard img{
  margin: auto;
  margin-bottom: 10px;
}
.DivDetails{
  display: flex;
 /* grid-template-columns: 1fr 1fr;*/
 justify-content: space-around;
  margin: 0;
  align-items: center;
}

.DivDetails button{
  border-radius: 7px;
  width: 80px;
  background-color: #3065AC;
  color: white;
  border-color: white;
}

.DivDetails button:hover{
  background: #4474b4;
}